@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo á Página Home</h1>
    <video>
        <video controls="controls">
            <source src="~/../../../../%c3%a1rea%20de%20trabalho/ecommerce-estilizado/projetoecommerce/wwwroot/video/video.mp4" type="video/mp4" />
        </video>
    </video>
</div>
